* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background: rgb(226, 207, 207);
    align-items: center;
    
}

.prueba{
    color: blueviolet;
}
.dibujo{
    height: 30%;
    width: 30%;
    border-radius: 50%;
    color: aqua;
    
}   

.dibujo2{
    height: 30%;
    width: 30%;
    border-radius: 10%;
    display: flex;
    align-items: center;

}   

.dibujo3{
    height: 10%;
    width: 10%;
    border-radius: 10%;
    display: flex;
    align-items: center;
    border: red 6chepx solid;
    margin-top: 5%;
    box-sizing: 20px;
}  